<?php
/**
 * @author      Matthias Büsing <info@mb-tec.eu>
 * @copyright   2016 Matthias Büsing
 * @license     GNU General Public License
 * @link        http://mb-tec.eu
 */
return [
    'mbtec' => [
        'zf-log' => [
            'writer' => [
                'file' => [
                    'enabled' => true,
                ],
                'mail' => [
                    'enabled' => false,
                    'sender_name' => 'Application',
                    'sender_mail' => 'noreply@application.de',
                    'receivers' => [
                        'info@mb-tec.eu',
                    ],
                    'subject_prepend_text' => 'Fehlerreport Application',
                ],
                'graylog' => [
                    'enabled' => false,
                    'stream' => 'App',
                    'transport' => [
                        'type' => 'Udp',
                        'host' => 'www.mb-tec.eu',
                    ],
                ],
            ],
        ],
    ],
];